{% extends "base.html" %}
{% load static %}

{% block page_content %}
<br>
<h1>{{ project.title }}</h1>
<hr>
<div class="row">
    <div class="col-md-8">
        <h5>About the project:</h5>
        <p>{{ project.description | linebreaksbr }}</p>
    </div>
    <div class="col-md-4">
        <img src="{{ project.image.url }}" alt="" width="100%">
        <br>
        <br>
        <h5 class="text-right">Technology used:</h5>
        <p class="text-right">{{ project.technology }}</p>
        <br>
        <h5 class="text-right">Check it out on GitHub:</h5>
        <p class="text-right">{{ project.link | urlize }}</p>
    </div>
</div>
{% endblock %}