{% extends "base.html" %}
{% load static %}
{% block page_content %}
<br>
<div class="col-md-10 offset-md-1">
    <h1>My Projects</h1>
    <hr>
<div class="row">
{% for project in projects %}
    <div class="col-md-5 offset-md-1">
        <img class="card-img-top" src="{% static project.image %}">
    </div>
    <div class="col-5">
        <h5 class="card-title">{{ project.title }}</h5>
        <p class="card-text text-truncate">{{ project.description }}</p>
        <a href="{% url 'project_detail' project.pk %}"
           class="btn btn-primary">
            Read More
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}