{% extends "base.html" %}
{% load static %}

{% block page_content %}

<br>
<div class="col-md-10 offset-md-1">
    <h1>Works in Progress</h1>
    <hr>
    <div class="col-md-10 offset-md-1">
        {% for work in posts %}
            <h2>{{ work.title }}</h2>
            <small>
                Created on: {{ work.created_on.date }} |&nbsp;
                Updated on:&nbsp;{{ work.last_modified.date }}
            </small>
            <p>{{ work.body | linebreaksbr | urlize }}</p>
            <br>
            <br>
        {% endfor %}
    </div>
</div>
{% endblock %}